<div class="create-meet-a">
  <h2 id="add-meeting">Add a Meeting</h2>

  <div class="create-meet-b">
    <form action="/meetings" method="POST">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" required placeholder="Your name..">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" required placeholder="Your last name..">

      <label for="laddress">Address</label>
      <input type="text" id="laddress" name="address" required placeholder="Your address..">

      <label for="lphone">Phone Number</label>
      <input type="text" id="lphone" name="phone_number" required placeholder="Your phone number..">

      <label for="ldescription">Description</label>
      <input type="text" id="ldescription" name="description" required placeholder="Your description..">
      
      <label for="lschedule">Schedule</label>
      <div>
        <input type="date" id="lschedule" name="schedule" required placeholder="Your schedule..">
      </div>
      <br><br/>
    
      <input type="submit" value="Save">
    </form>
  </div>

</div>

