.create-meet-a input[type=text]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align:center;
    
  }
  
  .create-meet-a input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  .create-meet-a input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div.create-meet-b {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align:center;
  }
  
  .create-meet-a #add-meeting {
      text-align: center;
  }

