body {
    margin: 0;
    padding: 0;
    text-align: left;
    font: 75% arial, tahoma, "Trebuchet MS", verdana, arial, verdana, sans-serif; 
}
    
#container-birth {
    width: auto;
    border: 0px solid #eee;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px 0px 30px;
    line-height: 1.5em;
}

#container-e {
    width: auto;
    border: 0px solid #eee;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px 0px 30px;
    line-height: 1.5em;
}
    
#banner-birth {
    height: 70px;
    padding: 0;
    margin-bottom: 20px;
    /* background: #fff url(images/image00.jpg) no-repeat; */
    color: #333;
 }
    
        /* TOP NAVIGATION */
#navlist-birth {
    width: 100%;
    padding: 4px 5px 5px 0;
    margin: 0 0 20px 0;
    text-align: left;
    /* letter-spacing: 1px; */
    color: #fff;
    /* background: #476042; */
}

.name-birth {
    text-align: left;
    width: auto;
    margin: auto;
    font-family: "Times New Roman", Times, serif;
}

#navlist-birth li {
    list-style: none;
    margin: 0;
    display: inline;
}
    
#navlist-birth li a {
    padding: 5px .75em;
    margin: 0;
    color: #fff;
    background: #476042;
    text-decoration: none;
 }
    
 #navlist-birth li a:link { 
    color: #fff;
    background: #476042;
}

#navlist-birth li a:visited {
    color: #fff;
    background: #476042;
}

#navlist-birth li a:hover {
    color: #000;
    background: #6A9662;
}

#navlist-birth li a#current {
    color: #fff;
    /* background:#3f87a6; */

}

            /* LEFT MENU */
.menu-birth ul li {
    line-height: 1.8em;
    margin: 0 10px 0 0;
    padding: 0;
    list-style-type: square;
    color: #6A9662;
    background: inherit;
}
    
.menu-birth ul li a {
    color: #F17C0B;
    background: inherit;
}

.menu-birth ul li a:hover {
    color: #6A9662;
    background: inherit;
}
    
            /* MAIN CONTENT */
#content-birth {
    padding: 0 20px 0 20px;
    margin-left: 170px;
    margin-right: 170px;
    border-left: 2px dashed #333;
    border-right: 2px dashed #333;
    color: #555;
    background-color: #fff;
}
    
            /* ARTICLES */
.intro {
    float:left;
    width: 25%;
    margin: 3px 0 5px 0;
    padding: 5px;
    text-align:left;
}
    
.intro2 {
    float: left;
    width: 25%;
    margin: 3px 0 5px 20px;
    padding: 5px;
}

.intro3 {
    float:right;
    width: 33%;
    margin: 3px 0 5px 0;
    padding: 5px;
}
    
            /* LEFT SIDEBAR */
#sidebar-birth-a {
    float: left;
    width: 150px;
    margin-right: 5px;
    padding: 0 5px 0 5px;
    color: #666;
    background-color: #fff;
 }
    
            /* RIGHT SIDEBAR */
#sidebar-birth-b {
    float: right;
    width: 150px;
    margin: 0 0 0 5px;
    padding: 0 5px 15px 5px;
    color: #333;
    background-color:#FAF8E9;
}
    
            /* FOOTER */
#footer {
    clear: both;
    padding: 5px;
    margin: 0;
    background-color: #476042;
    color: #fff;
}
#footer a {
    text-decoration: none;
    color: #fff;
    background-color:#476042;
    }
#footer  a:hover {
    text-decoration: none;
    color: #FE3F22;
    background-color:#476042;
}
    
            /* LINKS */
a {
    text-decoration: none;
    color: #F17C0B;
    background-color: #fff;
 }
a:hover {
    text-decoration:underline;
    color: #666;
    background-color:#fff;
 }
a img {
    border: 0;
}
    
            /* IMAGE PROPERTIES */
.border {
    padding: 10px;
    margin: 10px;
    border: 1px solid #476042;
    }

.imgleft {
    float: left;
    border: 1px solid #90b905;
    margin: 5px 10px 10px 15px;
    padding: 5px;
}
    
            /* HEADING PROPERTIES */
h1#title-birth {
    width: 30%;
    font-size: 200%;
    letter-spacing: 3px;
    color:rgb(63, 151, 47);
    background: #fff;
}

h2 {
    font-size: 130%;
    text-transform: uppercase;
    letter-spacing: 0px;
    color:#476042;
    background: #fff;
}
h3 {
    padding: 2px;
    text-transform: uppercase;
    font-size: 110%;
    color:#fff;
    background: rgb(123, 153, 118);
}
h4 {
    padding: 5px;
    text-transform: uppercase;
    font-size: 110%;
    color:#fff;
    background: #F17C0B;
    }


/* Manage table content */

thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    /* letter-spacing: 1px; */
    font-family: sans-serif;
    font-size: .8rem;
    margin-left:auto; 
    margin-right:auto;

}

#birthday {
    text-align: center;
}


td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}

#content-birth a {
    text-align: center;
}

div.btn{
    /* background: #ff5543; */
    max-width:auto;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1%;
  }