<div class="container-c">
    <h1>E-SCHEDULE</h1>
    <% unless locals.empty? %>
        <%= message %>
    <% end %>
</div>

   <div class="login-page">
        <div class="form">
           <form action="/signup" method="POST">
              <input type="text" placeholder="Username" name="username">
              <input type="text" placeholder="Email" name="email">
              <input type="password" placeholder="Password" name="password">
              <input class="btn btn-primary" type="submit">

              <p class="message">Already Registered <a href="/login">Login</a></p>
            </form>
        </div>
  </div>