<div class="create-birth-a">
  <h2 id="add-birthday">Add a Birthday</h2>

  <div class="create-birth-b">
    <form action="/birthdays" method="POST">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" required placeholder="Your name..">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" required placeholder="Your last name..">


      <label for="lphone">Phone Number</label>
      <input type="text" id="lphone" name="phone_number" required placeholder="Your phone number..">

      <label for="lrelationship">Relationship</label>
      <input type="text" id="lrelationship" name="relationship" required placeholder="Your relationship..">
      
      <label for="lbirthday">Birthday</label>
      <div>
        <input type="date" id="lbirthday" name="birthday" required placeholder="Your birthday..">
      </div>
      <br><br/>
    
      <input type="submit" value="Save">
    </form>
  </div>

</div>

