<!doctype html>
<html>
  <head>
    <title>E-Schedule</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">-->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/meeting.css">
    <link rel="stylesheet" href="/stylesheets/add_meeting.css">
    <link rel="stylesheet" href="/stylesheets/add_birthday.css">
    <link rel="stylesheet" href="/stylesheets/birthdays.css">
  </head>
  <body>
 
      <%= yield %> 
      
  </body>
</html>